@*<style>
    #div-u {
        background-color: aquamarine;
        text-decoration: none;
    }

    a {
        color: #a94442;
        text-decoration: none;
        font-size: x-large;
    }

        a:hover {
            text-decoration: none;
        }
</style>

<ul style="list-style-type:none" id="div-u">
    <li class="div-cate">
        <a href="/Ads/QuanLyTin">Quản lý rao vặt</a>
    </li>
    <li class="div-cate">
        @{
            if (Session["TENDANGNHAP"] != null)
            {
                var a = Session["TENDANGNHAP"];
                <a href="@Url.Action("DetailInfo","Ads",new { id = a.ToString()})">Thông tin cá nhân</a>
            }
        }

    </li>
    <li class="div-cate">
        <a href="/Ads/Index">Thêm tin rao vặt</a>
    </li>
</ul>*@

<style>
    #div-u {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #fff;
        margin-top: 100px;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .div-cate a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

        /* Change the link color on hover */
        .div-cate a:hover {
            background-color: #0d6efd;
            color: white;
        }
</style>
<ul id="div-u">
    <li class="div-cate">
        <a href="/Ads/QuanLyTin">Quản lý rao vặt</a>
    </li>
    <li class="div-cate">
        @{
            if (Session["TENDANGNHAP"] != null)
            {
                var a = Session["TENDANGNHAP"];
                <a href="@Url.Action("DetailInfo","Ads",new { id = a.ToString()})">Thông tin cá nhân</a>
            }
        }

    </li>
    <li class="div-cate">
        <a href="/Ads/Create">Thêm tin rao vặt</a>
    </li>

</ul>
