@using RaoVat.Models;

@{
    ViewBag.Title = "SuccesMail";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div style="height:200px"></div>
<section class="categories-icon section-padding">
    <div class="container">
        <h1 class="section-title">Cám ơn bạn đã quan tâm đến bài đăng của tôi</h1>
    </div>
    <div class="align-center">
        <div class="works-item">
            <h4>Thư của bạn sẽ được tôi phản hồi sớm nhất</h4>
            <div class="icon-box">
                <i class="lni-check-mark-circle"></i>
            </div>
            <span>
                <i class="lni-reply p-2"></i><a href="Index">Quay trở lại trang đăng tin</a>
            </span>
        </div>
    </div>
</section>
