<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/slicknav.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/color-switcher.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/css/responsive.css">
</head>
<body>
    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                    <aside>
                        <div class="sidebar-box">
                            <div class="user">
                                <figure>
                                    <a href="#"><img width="50px" height="50px" src="~/Content/loginassets/img/undraw_profile.svg" alt=""></a>
                                </figure>
                                <div class="usercontent">
                                    <h3>Hello @Session["TENDANGNHAP"]</h3>
                                    <h4>Administrator</h4>

                                </div>

                            </div>
                            <nav class="navdashboard">
                                <ul>
                                    <li>
                                        <a class="active" href="/RaoVat/Index" ">
                                            <i class="lni-cog"></i>
                                            <span>Danh Sách Rao Vặt</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="/RaoVat/Create">
                                            <i class="lni-cog"></i>
                                            <span>Thêm Mới Rao Vặt</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="/Category/Index">
                                            <i class="lni-cog"></i>
                                            <span>DS DM Rao Vặt</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="/Category/Create">
                                            <i class="lni-cog"></i>
                                            <span>TM DM Rao Vặt</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="/User/Index">
                                            <i class="lni-cog"></i>
                                            <span>Danh Sách Tài Khoản</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="/User/Create">
                                            <i class="lni-cog"></i>
                                            <span>Thêm Mới Tài Khoản</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="active" href="/Admin/LogOutUser">
                                            <i class="lni-cog"></i>
                                            <span>Đăng Xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </aside>
                </div>
                @RenderSection("Scripts", required: false)
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="page-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top">
            <i class="lni-chevron-up"></i>
        </a>
        <div id="preloader">
            <div class="loader" id="loader-1"></div>
        </div>

        <script data-cfasync="false" src="~/Content/adminassets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="~/Content/adminassets/js/jquery-min.js"></script>
        <script src="~/Content/adminassets/js/popper.min.js"></script>
        <script src="~/Content/adminassets/js/bootstrap.min.js"></script>
        <script src="~/Content/adminassets/js/color-switcher.js"></script>
        <script src="~/Content/adminassets/js/jquery.counterup.min.js"></script>
        <script src="~/Content/adminassets/js/waypoints.min.js"></script>
        <script src="~/Content/adminassets/js/wow.js"></script>
        <script src="~/Content/adminassets/js/owl.carousel.min.js"></script>
        <script src="~/Content/adminassets/js/jquery.slicknav.js"></script>
        <script src="~/Content/adminassets/js/main.js"></script>
        <script src="~/Content/adminassets/js/form-validator.min.js"></script>
        <script src="~/Content/adminassets/js/contact-form-script.min.js"></script>
        <script src="~/Content/adminassets/js/summernote.js"></script>
</body>
</html>